
@import '/src/styles/colors';
@import '/src/styles/mixins';

.options-container{
  display: flex;
  flex-wrap: wrap;
}
.option input{
display: none;
}
.option label{
  @include filter-name(170px, 40px);
  margin: 4px 6px;
}

.option input:checked+label{
  @include filter-name-active()
}
  
div#filters-popover{
  max-width: 580px;
}

.actions-container{
  display: flex;
  justify-content: space-between;
  margin: 8px 6px 0;
}
  
.actions-container .apply-btn{
  margin-left: auto;
}
  